APP_DOMAIN=atify.com.tr
LETSENCRYPT_EMAIL=mail@atify.com.tr

MYSQL_DATABASE=atify
MYSQL_ROOT_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD

JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS
JWT_EXPIRATION_MS=86400000

JAMENDO_CLIENT_ID=YOUR_JAMENDO_CLIENT_ID
SPRING_JPA_HIBERNATE_DDL_AUTO=update
JAVA_OPTS=-Xms256m -Xmx1024m
